body{
  background: hsl(202, 80%, 22%);
}

#game-and-table{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#header-text{
  position: sticky;
  top: 0;
  color:hsl(120, 97%, 55%);
  background-color: inherit;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size: 70px;
  letter-spacing: 5px;
  border-bottom: 4px solid #53df66fd;
}

#playground {
  background: hsl(200, 70%, 30%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  border: 2px solid rgb(0, 127, 127); /*teal*/
  text-align: center;
  width: 500px;
  height: 500px;
  padding: 1px;
}

.play-block{
  display: flex;
  margin: auto;
  padding: 3px;
  border: 2px solid hsl(120, 97%, 55%);
  text-align: center;
  width: 140px;
  height: 140px;  
  transition: linear;
  transition-duration: 1s;
}

.play-block:hover{
  background-color: rgba(128, 252, 246, 0.966);
  cursor: cell;
}

.cross-or-zero{
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #53df66fd;
}

.victory_dialog, #enter-names-dialog{
  display: none;
  z-index: 1;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  padding-top: 100px;
  margin: auto;
  width: 100%;
  height: 100%;
}

.dialog-content , #enter-names-dialog-content{
  position: relative;
  color: rgba(104, 255, 247, 0.966);
  background-color: hsl(200, 70%, 30%);
  border: 1px solid hsl(206, 100%, 60%);
  border-radius: 8px;
  width: 38.5%;
  padding: 20px;
  margin : 10% auto;
  text-align: center;
  box-shadow: 1px 1px 4px 1px hsl(206, 100%, 60%);
  animation-name: animatetop;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

@keyframes animatetop {
  from {
    top:-300px; opacity:0
  }
  to {top:0; opacity:1}
}

#restart-button, #exit-button , #play-button , #skip-button{
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: hsl(120, 100%, 40%);
  position: absolute;
  padding: 8px;  
  font-size : 14px;
  color: black;
}

#restart-button , #skip-button{
  bottom: 10px;
  left: 15px;
}

#exit-button , #play-button{
  bottom: 10px;
  right: 15px;
}

#skip-button{
  background-color: hsl(0, 100%, 47%); 
  color: white;
}

#restart-button:hover , #exit-button:hover , #play-button:hover , #play-button:focus{
  box-shadow: 2px 2px 8px 3px hsl(118, 92%, 47%);
  cursor: pointer;
}

#skip-button:hover , #skip-button:focus{
  box-shadow: 2px 2px 8px 3px hsl(0, 100%, 50%);
  cursor: pointer;
}

#enter-name-message{
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.dialog-message{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#winner-name-message{
  font-size: 25px;
  font-weight: 30px;
  padding-bottom: 15px;
  border-bottom: 2.5px solid hsl(118, 92%, 47%);
}

#message{
  font-size: 35px;
  font-weight: 55px;
  padding-top: 1px;
  margin-top: 1px;
  padding-bottom: 1px!important;
  margin-bottom: 2px;
}

#table-div{
  padding-left: 50px;
  border-left: 3px solid hsl(36, 94%, 44%);
  margin: 100px auto 200px 50px;
}

table, th, td{
  border: 2px solid hsl(118, 85%, 60%);
  border-collapse: collapse;
}

.table-header, .round-td, .players-score-td{
  color: white;
  padding: 20px 40px 20px 40px;
}

.players-score-td{
  font-size: 30px;
}

input, label{
  margin: 10px;
  padding: 5px;
}

input{
  border-radius: 6px;
  border-style: solid;
  border: 1px solid hsl(120, 97%, 55%);
}

input:focus{
  box-shadow: -0.5px 0.5px 1.5px 1px hsl(120, 97%, 55%);
}

#main-form{
  text-align: left;
  margin: 10px 20px 15px 20px;
  padding: 10px 30px 15px 30px;
}

#player1-form, #player2-form{
  margin: 10px;
  display: flex;
  justify-content: left;
}
